{#
  SPDX-FileCopyrightText: 2015-2018 CERN.
  SPDX-License-Identifier: MIT
#}

{%- extends "invenio_oauth2server/settings/index.html" %}

{%- import "invenio_oauth2server/settings/helpers.html" as helpers with context %}
{%- from "invenio_oauth2server/settings/_macros.html" import render_field with context %}

{% block settings_content %}
{{helpers.panel_start(
    _('New OAuth Application'),
)}}
<form role="form" method="POST">
{%- for field in form %}
{{ render_field(field) }}
{%- endfor %}
<div class="form-group">
    <div class="">
      <a href="{{url_for('.index')}}" class="btn btn-default"><i class="fa fa-times"></i> {{ _('Cancel') }}</a>
      <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {{ _('Register') }}</button>
    </div>
  </div>
</form>
{{helpers.panel_end()}}
{% endblock %}
